---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
  
<div style="text-align: left; display: inline-block;">
  <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=55clzs5bvbv&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=calibri&amp;l=33" async="async"></script>
</div>
  
<a href="https://www.easycounter.com/">
  <img src="https://www.easycounter.com/counter.php?sherlockbbb" border="0" alt="Web Counters">
</a>
<br>
<a href="https://www.easycounter.com/">HTML Hit Counter</a>

</html>
